@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Delius');


$mainFont: "Lucida Grande", Lato, sans-serif;
$cursiveFont: Noteworthy, Delius, cursive;

$color-primary: #B20239;
$color-primary-dark: #59011D;
$color-primary-light: #cd97b0;

$color-white: #fff;
$color-off-white: whitesmoke;
$color-black: #000;

$color-gray-primary: gray;
$color-gray-secondary: #7B7375;

$avatarHeight: 230px;