.footer {
    padding: .2rem;
    font-size: 1.6rem;
    color: $color-white;
    background: linear-gradient(to right, $color-primary-light, $color-primary, $color-primary-dark, $color-primary, $color-primary-light);
}